<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="Osimports">
	
			<meta charset="UTF-8"></meta>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
			<meta http-equiv="Content-Language" content="pt-br"></meta>
		
	
			<script src="/webjars/jquery/3.2.1/jquery.js" th:src="@{/webjars/jquery/3.2.1/jquery.js}"></script>
			<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.js" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.js}"></script>
			<link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.css" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.css}"/>
			<link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap-theme.css" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap-theme.css}"/>
			
			<link rel="stylesheet" href="/css/headerCSS.css" th:href="@{/css/headerCSS.css}"/>
			<link rel="stylesheet" href="/css/fonts.css" th:href="@{/css/fonts.css}"/>
			
			<!-- table -->
			<link rel="stylesheet" href="/css/tableStyle.css" th:href="@{/css/tableStyle.css}"/>
			
			<!-- Datatable -->
			<script src="/js/datatable/js/datatables.min.js" th:src="@{/js/datatable/js/datatables.min.js}"></script>
			<link rel="stylesheet" href="/js/datatable/css/datatables.css" th:href="@{/js/datatable/css/datatables.css}"/>
			<link rel="stylesheet" href="/js/datatable/css/dataTables.bootstrap.min.css" th:href="@{/js/datatable/css/dataTables.bootstrap.min.css}"/>
			
			<!-- Btn Voltar -->
			<script src="/js/btnVoltar.js" th:src="@{/js/btnVoltar.js}"></script>
			

	</head>
	<body>
		
	</body>

</html>
