<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
<meta http-equiv="Content-Language" content="pt-br"></meta>


</head>
<body>
	<div th:fragment="modal" >
		<div  class="modal fade" id="Modal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title" id="exampleModalLabel" th:text="${tituloModal}">Erro ao carregar titulo</h1>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<span th:utext="${conteudoBodyModal}"></span>
					</div>
					<div class="modal-footer">
						<button th:text="${tituloBotaoDismissModal}" type="button" class="btn btn-secondary"
							data-dismiss="modal">Cancelar</button>
						<th:block th:if="${urlBotaoModal != null}">
							<a th:href="${urlBotaoModal}" th:text="${tituloBotaoModal}" class="btn btn-primary"></a>
						</th:block>
						<!--th:href="|/home/consultarDisciplina/ConfirmarExclusaoDisciplina/${idDisciplina}|"-->
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>