<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
	<head>
			<title> Cadastrar Professor</title>
			<object th:replace="util/imports :: Osimports"></object>
			<script src="/js/maskPlugin/jquery.mask.js" th:src="@{/js/maskPlugin/jquery.mask.js}"></script>
			


			<script>
				$(document).ready(function(){
					$('#btnVoltar').focus();
					
					$('#login').mask('000.000.000-00', {reverse: true});
				});

			</script>

	</head>
<body>
		<object th:replace="util/header :: header"></object>
		<div class="container-fluid" role="complementary"> 
			<div class="panel panel-default" style="display: inline">
				<div class="panel-heading">
					<div class="row">
						 <h1 style="text-align:center" class="page-header light"> Cadastrar - Professor
					
						 </h1>
					</div>
				 </div>
				<div class="alert alert-success" role="alert" th:if="${mensagemSucesso != null}">
					<span  th:text="${mensagemSucesso}"></span>
				</div>
				<div class="alert alert-danger" role="alert" th:if="${mensagemErro != null}">
					<span th:text="${mensagemErro}"></span>
				</div>
				<div class="panel-body" >
					<div class="panel panel-default" style="display: inline">
						<div class="panel-body" >
							<form method="post" action="/home/cadastrarProfessor" th:href="@{/home/cadastrarProfessor}" th:object="${professor}">
								<div class="form-group">
									<label for="nome">*Nome</label>
									<input th:field="*{nome}" name="nome" class="form-control" type="text" />
								</div>
								<div th:if="${#fields.hasErrors('nome')}" class="alert alert-danger" role="alert">
									<span  th:errors="*{nome}">Erro no nome</span>
								</div>
								
								<div class="form-group">
									<label for="CPF">*CPF</label>
									<input th:field="*{login}" id="login" name="login" class="form-control" type="text" />
								</div>
								<div th:if="${#fields.hasErrors('login')}" class="alert alert-danger" role="alert">
									<span  th:errors="*{login}">Erro no CPF</span>
								</div>
								
								<div class="form-group">
									<label for="email">*E-mail</label>
									<input th:field="*{email}" name="email" class="form-control" type="email" />
								</div>
								<div th:if="${#fields.hasErrors('email')}" class="alert alert-danger" role="alert">
									<span  th:errors="*{email}">Erro no E-mail</span>
								</div>
								
								<div class="form-group">
									<button type="submit" class="btn btn-primary">Cadastrar</button>
									<button type="button" class="btn btn-default btnVoltar">Voltar</button>
								</div>
								<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
							</form>
						</div>
					</div>	
				</div>	
			</div>	
		</div>	
	</body>
</html>