<!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
		<head>
			<title> Consultar Prova </title>
			<object th:replace="util/imports :: Osimports"></object>
			<!-- <script src="/jqueryui/js/jquery-ui.js" th:src="@{/jqueryui/js/jquery-ui.js}"></script>
			<link rel="stylesheet" href="/jqueryui/css/jquery-ui.css" th:href="@{/jqueryui/css/jquery-ui.css}"/>
			<link rel="stylesheet" href="/jqueryui/css/jquery-ui.structure.css" th:href="@{/jqueryui/css/jquery-ui.structure.css}"/>
			<link rel="stylesheet" href="/jqueryui/css/jquery-ui.theme.css" th:href="@{//jqueryui/css/jquery-ui.theme.css}"/>
			<script src="js/SelectAutoComplete.js" th:src="@{/js/SelectAutoComplete.js}"></script>
			<link rel="stylesheet" href="/css/autoCompleteCategorystyle.css" th:href="@{/css/autoCompleteCategorystyle.css}"/> -->
			<!-- Datatable -->
			<script src="/js/DataTableExemplojs.js" th:src="@{/js/DataTableExemplojs.js}"></script>

			<script>
				$(document).ready(function(){
					$('#btnVoltar').focus();
				});
				
			</script>
		</head>
		<body>
				
				<object th:replace="util/header :: header"></object>

				<div class="container-fluid" role="complementary"> 
					<div class="panel panel-default" style="display: inline">
						<div class="panel-heading">
							<div class="row">
								 <h1 style="text-align:center" class="page-header light"> Consultar - Prova
							
								 </h1>
							</div>
						 </div>
					<div class="panel-body" >						
						<div class="panel panel-default" style="display: inline">
							<div class="panel-body" >
								<!-- <form action="#">
									<div class="input-group">
										<input class="form-control" id="search" type="text" >
										<span class="input-group-addon btn btn-default" id="basic-addon1">
											<span class="glyphiconMenu glyphicon glyphicon-search"></span>
										</span>
									</div>	
								</form>
								 -->
								<div class="table-responsive">
									<table id="example" class="display table table-striped table-bordered table-hover dt-responsive" cellspacing="0">
										<thead>
											<tr>
												<th>Disciplina</th>
												<th>Semestre</th>
												<th>Descrição</th>
												<th>Turma</th>
												<th>Responsável</th>
												<th>Data De Inserção</th>
												<th>Ações</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Matemática Discreta</td>
												<td>1º semestre</td>
												<td>Prova de Matematica SI Noturno</td>
												<td>SI 8º semestre Noturno 1/2017</td>
												<td>Mamede Saigg</td>
												<td>25/04/2017</td>
												<td class="tdAcoes">
													<div class="btn-group">
														<button title="Editar" type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></button>
														<button title="Remover" type="button" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<button id="btnVoltar" type="button" class="btn btn-default btnVoltar">Voltar</button>
							</div>
						</div>	
					</div>	
				</div>	
			</div>	
		</body>
</html>






























