<!DOCTYPE html>
  <html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	
		<head>
			<title>SGQ - Home</title>
			<meta charset="UTF-8"></meta>
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
			<object th:replace="util/imports :: Osimports"></object>

		</head>
		<body>
			<object th:replace="util/header :: header"></object>
			<div class="container-fluid" role="main"> 
				<div class="panel panel-default" style="display: inline">
					<div class="panel-heading">
						<div class="row">
							<h1 id="TituloDaPagina" style="text-align:center" class="page-header light"> SGQ - Sistema de Gerenciamento de Questões
						
							</h1>
						</div>
					</div>
					<div class="panel-body" style="height: 100%">
						<hr/>
						<section class="col-sm-4" style="background-color:rgb(234, 234, 234);">
							<h2>Crie e Reutilize Questões</h2>
							<ul>
								<li>
									<p>Este sistema tem como objetivo auxiliar o coordenador na criação e gestão de questões de provas na <abbr title="Faculdades Integradas da União Educacional do Planalto Central">FACIPLAC</abbr>, para isso ele gerencia as <strong>questões</strong> cadastradas em uma <strong>disciplina</strong> e as transforma em <strong>provas</strong>, em que cujas provas são geradas com questões aleatórias.</p>
								</li>
								<li>
									<p>Este sistema foi fruto de um trabalho de conclusão de curso dos alunos Vinícius Silvano Silveira Felipe e Pedro Félix Nunes de Jesus Leite</p>  
								</li>
							</ul>
						</section>
						<section class="col-sm-4" style="; background-color:rgb(234, 234, 234);">
							<h2>Iniciando No sistema</h2>
							<ol>
								<li>Selecione uma <strong>Disciplina</strong>.</li>
								<li>Crie <strong>Questões</strong> para a Disciplina</li>
								<li>Crie uma <strong>Prova</strong></li>
							</ol>
						</section>
						<section class="col-sm-4" style="background-color:rgb(234, 234, 234);">
							<h2>Site da Faciplac</h2>
							<a target="_blank" href="https://www.faciplac.edu.br/">https://www.faciplac.edu.br/</a>
						</section>

					</div>
				</div>
			</div>











		</body>
</html>



